
#search-form {
    border-radius: 30px 30px 30px 30px;
    width:50%;
    box-shadow: none;
    outline:  #888888;
    border: 1px solid #ccc;
}


#search-button {
    background-color: transparent;
    border: none;
    color: #888888;
}

.no-pointer {
    cursor: default !important;
    pointer-events: none;
}

.button-group {
    display: flex;
    justify-content: center; /* Center-align items horizontally */
    margin-top: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-label {
    flex: 0 0 200px; /* Adjust the width of the labels */
    padding-right: 15px;
}


#any_words {
    width:30%;
    
}